.slider img {
    width: 100%;
    height: 300px;
}

.slider h6 {
    height: 50px;
}

.slider .button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider .button button {
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5%;
    text-decoration: none;
}

.slider .card {
    width: 300px;
    height: 400px;
}

.slick-slide.slick-active {
    padding: 0px 10px;
}